<header class="header">
  <div class="logoContainer">
    <img id="logoApp" src="../resources/logoApp.jpg">
  </div>
  <a routerLink="/matchzone" routerLinkActive="active"><h1 class="btn_accueil">Zinder</h1></a>


  <div class="navBar">
    <ul>
      <li><a routerLink="/statistiques" routerLinkActive="active">Statistiques</a></li>

    </ul>
  </div>
</header>
