.header{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
}

H1{
  display: inline;
  padding-top: 10px;
}

.navBar ul{
  list-style-type: none;
  padding: 20px;
}

.navBar ul a{
  text-decoration: none;
  color: black;
}

.btn_accueil{
  text-decoration: none;
  color: black;
}
