<div *ngIf="match.match" class="alert alert-success" role="alert">
  vous avez matché positif avec {{match.id}}, bien joué, devinez qui c'est !
</div>

<div *ngIf="!match.match" class="alert alert-danger" role="alert">
  vous avez matché négatif avec {{match.id}}, bien joué, devinez qui c'est !
</div>

