<div class="matchButtonContainer">
  <button (click)="sendMatch(true)" class="btn btn-success">Like</button>
  <button (click)="sendMatch(false)" class="btn btn-danger">Nope</button>
  <p *ngIf="isMatchSent == true">Match transmis !</p>
  <p *ngIf="isMatchSent == false">Match non transmis ...</p>
</div>
