<div class="listOfPeople">
  <div *ngFor="let people of listPeople" class="peopleCardContainer">
    <div class="card" style="width: 18rem;">
      <app-people [people]="people">
      </app-people>

      <app-match-buttons [people]="people"></app-match-buttons>
    </div>
  </div>
</div>
